@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #fafafa;
  --muted: #a3a3a3;
  --accent: #737373;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-neutral-800;
  }
}
